.category-container {
	display: flex;
	justify-content: space-between;
	color: #4B5A7B;
	width: 100%;
	padding: 20px;
	border-width: 6px;
	/*
	Border-radius does not work with border-image
	 */
	border-style: solid;
	border-image: 
  		linear-gradient(
		to bottom, 
		#7176f7, #8076f6, #8d76f5, #9976f4, #a476f3
 		) 1 100%;
	border-right: none;
	border-top: none;
	border-bottom: none;
	box-shadow: 1px 1px 2px 0px rgba(137,141,248,1);
	margin-top: 20px;
}

.subcategory-container {
	display: flex;
	justify-content: space-between;
	color: #4B5A7B;
	border: 1px solid #CACDD7;
	border-radius: 4px;
	width: 200px;
	padding: 10px;
	margin-top: 10px;
}
