.pop-up-container {
	display: flex;
    align-items: center;
	justify-content: center;
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
	background: rgba(75,90,123,.3);
}

.pop-up {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 2px 2px 17px 0px rgba(70,90,123,0.82);
	box-shadow: 2px 2px 4px 0px rgba(70,90,123,3);
	border-radius: 6px;
	background-color: white;
	opacity: 1;
	width: 30%;
	height: 30%;
	padding: 10px;
}

.pop-up form {
	display: flex;
}



.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 90%;
}

.pop-up input{
	height: 25px;
	border: 1px solid #4B5A7B;
	width: 70%;
	border-top: none;
	border-left: none;
	border-right: none;

	font-family: 'Roboto', sans-serif;
}

.pop-up input::placeholder {
	color: #CACDD7;
	font-family: 'Roboto', sans-serif;
}

.pop-up-close-button-container {
	margin: 10px;
	display: flex;
	position: absolute;
    justify-content: flex-end;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.pop-up-add-button {
	border: none;
	border-radius: 6px;
	background-color: #5EEDBF;
	color: white;
	width: 50px;
	height: 30px;
	margin-left: 10px;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}

.pop-up-close-button {
	border: none;
	border-radius: 50%;
	background-color: #F76B91;
	color: white;
	font-size: 1em;
	width: 30px;
	height: 30px;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
}