.people-container {
	display: flex;
	flex-direction: column;
	width: 80vw;
}

.people {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to top, #7176f7, #8076f6, #8d76f5, #9976f4, #a476f3);
	-webkit-box-shadow: 2px 2px 17px 0px rgba(137,141,248,0.82);
	box-shadow: 1px 1px 2px 0px rgba(137,141,248,1);
	color: white;
	height: 50px;
	width: 200px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 1.1em;
}
